# Ignore data files
data/
processed_data/
models/

# Ignore python cache
__pycache__/
*.pyc

# Ignore virtual environment
.venv/
venv/

# Ignore large specific files
*.csv
*.pkl
*.npy
*.keras

# Ignore Supabase configuration files
supabase_creds.json