# Ignore data files
data/
processed_data/
models/

# Ignore python cache
__pycache__/
*.pyc

# Ignore virtual environment
.venv/
.venv312/
.venv_old313/
venv/

# Ignore large specific files
*.csv
*.pkl
*.npy
*.keras

# Ignore Supabase and Google Drive API credentials
supabase_creds.json
credentials.json
token.json

#Ignor plans and reports
audit_report.md
model_audit.md
